@media only screen and (max-width: 900px) and (min-width: 300px) {
    header {
        height: 170px;
        background-color: rgb(19, 55, 89);
    }
    .logo {
        float: none;
        width: 90%;
    }
    .headerTexts {
        float: right;
        text-align: right;
        padding: 10px;
    }
    .headerText {
        display: block;
        color: rgb(1, 174, 255);
    }
}
