@keyframes showModal {
    0% {
        top: -120%;
        opacity: 0;
    }
    100% {
        top: 10%;
        opacity: 1;
    }
}
.modal {
    font-family: sans-serif;
    color: rgb(40, 40, 50);
    position: absolute;
    box-sizing: border-box;
    top: 10%;
    left: 25%;
    width: 50%;
    transition-duration: 500ms;
    border: 1px solid rgb(194, 194, 194);
    box-shadow: 0 0 10px rgb(0, 0, 0);
    border-radius: 10px;
    background-image: linear-gradient(rgb(255, 255, 240), rgb(5, 171, 255));
    padding: 2% 5%;
    animation: showModal 500ms linear;
    text-align: left;
}
.closeBtn {
    position: relative;
    float: right;
    height: 40px;
    transition-duration: 700ms;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.closeBtn:focus, .closeBtn:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
}
.trackNumber {
    padding-left: 35%;
    padding-right: 35%;
    padding: 5px;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 10px;    
    box-shadow: 0 0 5px rgb(0, 0, 0);
    font-weight: 700;
    color: rgb(255, 255, 255);
    background-color: rgb(5, 171, 255);
    transition-duration: 500ms;
    font-size: 1em;
}
.trackNumber:hover {
    box-shadow: none;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    transform: scale(1.1);
    box-shadow: 0 0 10px rgb(255, 255, 255);
    color: rgb(40, 40, 50);
}
.headModalLine {
    display: inline;
    font-weight: 700;
    padding: 10px 5px;
}
.modal > p {
    display: inline-block;
    font-size: 0.8em;
    line-height: 0.8em;
}